
.niv-head{
    width: 100vw;
    
}

.titulo-metodo {

     position: relative;
    block-size: auto;
    left: 33%;
    bottom: 24vw;
    max-width: fit-content;
    background-color: aqua;
    padding: 0px 20px;
    font-size: 1.2rem;
}

@media (max-width:768px) {
    .titulo-metodo{
        left: 5%;
        font-size: 0.6rem;
        bottom: 10vh;
    }

    .nivel p {
        margin-top: -5vh;

    }
}
