.anuncio{
    display: grid;
    grid-template-columns: 1.8fr 1fr 0.5fr;
    background-color: rgba(210, 210, 210, 0.781);
    width: 105vw;
    margin-top: 5vw;
    margin-left: -5vw;
    margin-bottom: 5vw;
}

.anuncio .linha-anuncio{
    margin-left: 5vw;
    font-size: 1.4vw;
    font-weight: 800;
    color: rgb(104, 104, 104);
}

.anuncio .anuncio-marque{
    font-size: 2vw;
}

.anuncio .anuncio-numero{
    margin-top: -1.5vw;
    font-size: 3vw;
    font-weight: 500;
    color: purple;
}