
.menu {
    max-width: 105vw;
    display: flex;
    margin-top: 5vw;
    margin-left: -4vw;
}


.menu p{
    padding:  6vw 9vw;
    margin: 0vw 1vw;
    color: white;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.menu p a{
    padding: 0.8vw 2.5vw;
    background-color: rgb(57, 199, 57);
    color: black;
}

.menu .cursos{
    
    background-image: var(--gui-url);

}


.menu .metodo{
    
    background-image: var(--sax-url);
}

.menu .professores{
    
    background-image: var(--drum-url);

}

@media (max-width: 768px) {
    .menu{
        display: block;
        margin-left: -10vw;

    }
}
