.tabela-cursos{
    display: flex;
    flex-direction: column;

}

.tabela-cursos .unidade-tabela{
    display: flex;
    gap: 2vw;
    margin: 3vw 10vw;
    text-align: left;
    
}

.tabela-cursos img{

    block-size: max(200px, 30vw);
    max-height: 20vw;
    min-width: 30vw;
}

.unidade-tabela h2{
    font-size: 2rem;
    color: rgb(0, 81, 255);
}

.unidade-tabela h2 span{
    font-size: 1.2rem;
}

.tabela-cursos hr{
    margin: 2vw -10px;
    height: 2px;
    width: 105vw;
}


