@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Smooch+Sans:wght@100..900&display=swap');

.sobre{
    display: block;
    margin: 5vw 0vw;
}

.sobre hr{
    height: 2px;
    width: 80vw;
    margin-bottom: 2vw;
}

.sobre .sobre-img{
    display: flex;
    height: 30vw;
    gap: 2vw;
}

.sobre .sobre-img h2{
    background-color: rgb(44, 44, 255);
    color: white;
    height: fit-content;
    padding: 2px;
}


.sobre .meta-hist{
    display: flex;
    width: 80vw;
    gap: 5vw;
    max-width: 80vw;
    
}

.sobre h2{
    
    color: rgb(44, 44, 255);
    font-size: 2rem;
    font-family: "Outfit", sans-serif, helvetica;
    font-weight: 200;
}
.meta-hist div{
    display: flex;
    gap: 4vw;
    align-items:flex-start;
}

.sobre p{
    text-align: left;
}

.fundador{
    display: flex;
    gap: 5vw;
    margin-left: 10vw;
    
}

@media (max-width: 768px){
    .sobre .sobre-img{
        height: 40vw;
    }
    .sobre .meta-hist{
        flex-direction: column;
        width: 90vw;
        max-width: none;
    }
    .fundador{
        flex-direction: column;
        margin-left: 0vw;
        align-items: center;
    }
    .fundador img{
       max-width:100%;
       width: 50vw; 
       height: 60vh;
    }
}
