.footer{
    margin-top: 2vw;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1fr;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.footer h4{
    font-size: 2rem;
    color: rgb(56, 150, 182);
    margin-bottom: -1vw;
    
}
.footer .tabela-horarios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.footer p{
    
    font-size: 1.2rem;
}

.footer .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts p
.footer .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.footer .socials img{
    max-block-size: 2vw;
}